.typewriter {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* Keeps the content on a single line */
  margin: 0 auto;
  font-weight: bolder;
  letter-spacing: .15em;
  font-size: 1rem;
  animation:
    typing 3s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}


.wrapper {
  width: 100%;
  height: 100%;

  display: flex;

  justify-content: center;
}

.container {
  position: relative;
  display: grid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  grid-gap: 12px;
  background: white;
  border-radius: 5px;
  cursor: pointer;

  will-change: width, height;
}

.item {
  width: 100%;
  height: 100px;
  background: white;
  border-radius: 8px;
  padding : 12px;
  will-change: transform, opacity;
  border: 3px solid #000;
}


@media screen and (min-width: 768px) {
  .typewriter{
    font-size: 1.8rem;
  }
}